@use "../theme";
.AboutMe-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 2.8rem;
	padding: 8rem 1.2rem;
}

.header-div {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
}

.header-content {
	font-size: 3.6rem;
	color: theme.$primary-400;
	font-weight: 300;
}

.underline {
	width: 15%;
	margin-top: 0.4rem;
	margin-left: 1.2rem;
	height: 0.5px;
	background-color: white;
}

.section-content {
	font-size: 1.4rem;
	color: theme.$primary-400;
}
.icons {
	display: flex;
	column-gap: 1.6rem;
	a {
		color: theme.$accent;

		.icon {
			height: 2.8rem;
			width: auto;
		}
	}
}

.descriptions {
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;

	span {
		color: theme.$accent;
	}
}


@media (min-width: theme.$breakpoint-tablet-portrait) {
}