@use "../theme";
.AboutMe-container {
	display: flex;
	flex-direction: column;
	row-gap: 2.8rem;
	padding: 8rem 1.2rem;
}

.header-div {
	display: flex;
	flex-direction: column;
	row-gap: .8rem;
}

.header-content {
	font-size: 3.6rem;
	color: theme.$primary-400;
	font-weight: 300;
}

.subheader-content {
	font-size: 1.8rem;
	color: theme.$accent;
    font-weight: 300;
}

.section-content {
	font-size: 1.4rem;
	color: theme.$primary-400;
}
.icons{
    display: flex;
    column-gap: 1.6rem;
a{
    color: theme.$accent;

    .icon{
        height: 2.8rem;
        width: auto;
    }
}
}

.descriptions{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    span{
        color: theme.$accent;
    }
}
