@use '../theme.scss';


.button-primary {
	color: theme.$accent;
	display: flex;
	background-color: theme.$primary-300;
	height: fit-content;
	padding: .4rem 2rem;
	font-size: 1.6rem;
	border-radius: .8rem;
    border: 1px solid theme.$accent;;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.button-primary:hover {
    background-color: theme.$accent;
    outline: none;
	color: theme.$primary-400;
    transition: .25s;
}