@use '../theme.scss';



.button-primary {
	color: theme.$accent;
	display: flex;
	background-color: theme.$primary-400;
	height: fit-content;
	padding: .4rem 2rem;
	font-size: 1.6rem;
	border-radius: .8rem;
    border: 1px solid theme.$primary;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.button-primary:hover {
    border: 1px solid theme.$accent;
	background-color: theme.$primary;
    outline: none;
	color: theme.$accent;
    transition: .25s;
}

@media (min-width: theme.$breakpoint-tablet-portrait) {
	.button-primary{
		width: fit-content;
	}
}