@use "../../styles//theme.scss";

.experience-container {
	display: flex;
	background-color: theme.$primary;
	box-sizing: border-box;
	flex-direction: column;
	row-gap: 12rem;
	height: fit-content;
	padding: 4rem 1rem;
	border-bottom: 1px solid theme.$primary-200;

	.underline {
		width: 15%;
		margin-top: 0.4rem;
		margin-left: 8rem;
		height: 0.5px;
		background-color: white;
	}

	.container {
		display: flex;
		flex-direction: column;
		row-gap: 2.4rem;
	}

	.skills {
	display: flex;
	column-gap: 1.2rem;
	row-gap: 1.2rem;
	flex-wrap: wrap;
}

.projects{
	display: flex;
	flex-direction: column;
	row-gap: 8rem;
}
}
.section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
	column-gap: 12rem;
}
.subsection {
	display: flex;
	flex-direction: column;
	row-gap: 3.2rem;

	h2 {
		color: theme.$primary-200;
		font-size: 2.4rem;
		margin-top: 12rem;
	}

	&.center {
		flex-direction: column;
		align-items: center;
		justify-content: end;
		row-gap: 6.4rem;
	}
}
.button-container {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 100%;
}
.experience-content {
	font-size: 1.4rem;
}
.container-header {
	font-size: 3.6rem;
	color: theme.$primary-200;
	font-weight: 400;
	vertical-align: center;
}
.experience-stats-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 3.2rem;

	.stat {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		align-items: center;

		.content {
			display: flex;
			text-align: center;
			justify-content: center;
			color: theme.$primary-200;
			font-weight: 400;
			font-size: 3.2rem;
		}
		.description {
			display: flex;
			flex-direction: column;
			color: darkgray;
			font-size: 2rem;
			font-weight: 400;
			width: 80%;
		}
	}
}

.experiences {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 12rem;
	column-gap: 4rem;
	text-align: center;
}
.container-subheader {
	color: theme.$primary-200;
	font-size: 4.8rem;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color: theme.$primary-200;
	text-decoration-line: solid;
	text-decoration-thickness: 0.2rem;
	text-underline-offset: 0.6rem;
}

