@use "../../styles/theme.scss";
.ExperienceCard-container {
	display: flex;
	flex-direction: column;
	color: theme.$primary-200;
	justify-content: start;
	align-items: center;
    height: 40rem;
    background-color: white;
    border-radius: 1.2rem;
    padding: 1rem;
    border: 1px solid theme.$primary-200;
    box-shadow: 0 .5rem 1rem .1rem theme.$primary-200;
}
// .content-container {
// 	display: flex;
// }
.title {
	font-size: 2.8rem;
	width: 90%;
	text-align: center;
    color: black;
    margin-bottom: 4rem;
	font-weight: 300;
}
.content {
	font-weight: 600;
	display: grid;
	grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
	row-gap: 4rem;
	width: 100%;
	color: theme.$primary-200;

}
