@use "../../styles/theme.scss";

.ExperienceCard-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	justify-self: stretch;
	align-items: center;
	align-self: stretch;
	height: fit-content;
	width: 100%;
}
.title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5.2rem;
	font-size: 2rem;
	text-align: center;
	color: theme.$accent;
	margin-bottom: 2rem;
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: .8rem;
}
.content {
	font-weight: 600;
	display: grid;
	grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
	row-gap: 4rem;
	width: 100%;
	color: theme.$accent
}
