@use "../../styles/theme.scss";

@media (min-width: theme.$breakpoint-mobile) {
	.ExperienceCard-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		justify-self: stretch;
		align-items: center;
		align-self: stretch;
		height: 28rem;
		width: 100%;
		background-color: white;
		color: theme.$primary-200;
		border-radius: 1.2rem;
		border: 1px solid theme.$primary-200;
		box-shadow: 0 0.5rem 1rem 0.1rem theme.$primary-200;
	}
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5.2rem;
		font-size: 2rem;
		text-align: center;
		background-color: theme.$primary-200;
		color: theme.$background;
		margin-bottom: 2rem;
		font-weight: 500;
		border-radius: 0.8rem 0.8rem 2rem 2rem;
	}
	.content {
		font-weight: 600;
		display: grid;
		grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
		row-gap: 4rem;
		width: 100%;
		color: theme.$primary-200;
	}
}

@media (min-width: theme.$breakpoint-laptop) {
	.ExperienceCard-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		justify-self: stretch;
		align-items: center;
		align-self: stretch;
		width: 100%;
		background-color: white;
		color: theme.$primary-200;
		border-radius: 1.2rem;
		border: 1px solid theme.$primary-200;
		box-shadow: 0 0.5rem 1rem 0.1rem theme.$primary-200;
	}
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5.2rem;
		font-size: 2.8rem;
		text-align: center;
		background-color: theme.$primary-200;
		color: theme.$background;
		margin-bottom: 4rem;
		font-weight: 500;
		border-radius: 0.8rem 0.8rem 2rem 2rem;
	}
	.content {
		font-weight: 600;
		display: grid;
		grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
		row-gap: 4rem;
		width: 100%;
		color: theme.$primary-200;
	}
}
