@use "../../styles//theme.scss";

@media (min-width: theme.$breakpoint-mobile) {
	.experience-container {
		display: flex;
		background-color: theme.$primary;
		box-sizing: border-box;
		flex-direction: column;
		row-gap: 12rem;
		height: fit-content;
		padding: 4rem 1rem;
		border-bottom: 1px solid theme.$primary-200;
	}
	.section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: fit-content;
		column-gap: 12rem;
	}
	.subsection {
		display: flex;
		flex-direction: column;
		row-gap: 3.2rem;

		h2 {
			color: theme.$primary-200;
			font-size: 2.4rem;
			margin-top: 12rem;
		}

		&.center {
			flex-direction: column;
			align-items: center;
			justify-content: end;
			row-gap: 6.4rem;
		}
	}
	.button-container {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		width: 100%;
	}
	.experience-content {
		font-size: 1.4rem;
	}
	.container-header {
		font-size: 3.6rem;
		color: theme.$primary-200;
		font-weight: 400;
		vertical-align: center;
	}
	.experience-stats-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 3.2rem;

		.stat {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: space-between;
			align-items: center;

			.content {
				display: flex;
				text-align: center;
				justify-content: center;
				color: theme.$primary-200;
				font-weight: 400;
				font-size: 3.2rem;
			}
			.description {
				display: flex;
				flex-direction: column;
				color: darkgray;
				font-size: 2rem;
				font-weight: 400;
				width: 80%;
			}
		}
	}

	.experiences {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		row-gap: 4rem;
		column-gap: 4rem;
		text-align: center;
	}
	.container-subheader {
		color: theme.$primary-200;
		font-size: 4.8rem;
		font-weight: 400;
		text-decoration: underline;
		text-decoration-color: theme.$primary-200;
		text-decoration-line: solid;
		text-decoration-thickness: 0.2rem;
		text-underline-offset: 0.6rem;
	}
}

@media (min-width: theme.$breakpoint-tablet-portrait) {
	.experiences {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: [start] 1fr [end];
		row-gap: 4rem;
		column-gap: 4rem;
		text-align: center;
		justify-content: center;
	}

	.experience-stats-container {
		flex-direction: row;
	}
}

@media (min-width: theme.$breakpoint-tablet-landscape) {
	.experiences {
		grid-template-columns: [start] 1fr [second] 1fr [end];
	}
}

//breakpoint specific for experience card grid collumn resizing to fix the page
@media (min-width: theme.$breakpoint-laptop) {
	.experience-container {
		display: flex;
		background-color: theme.$primary;
		box-sizing: border-box;
		flex-direction: column;
		row-gap: 8rem;
		height: fit-content;
		padding: 12rem 12rem;
		border-bottom: 1px solid theme.$primary-200;
		justify-content: center;
	}
	.section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: fit-content;
		column-gap: 12rem;
	}
	.subsection {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		row-gap: 2.8rem;
		width: fit-content;

		h2 {
			color: theme.$primary-200;
			font-size: 2.4rem;
		}

		&.center {
			flex-direction: column;
			align-items: center;
			justify-content: end;
			row-gap: 6.4rem;
		}
	}
	.button-container {
		display: flex;
		flex-direction: column;
		column-gap: 1.2rem;
		align-items: start;
		row-gap: 2rem;
		width: 60%;
		height: fit-content;

		h2 {
			margin: 0;
		}
	}
	.experience-content {
		font-size: 1.6rem;
	}
	.container-header {
		font-size: 7.2rem;
		color: theme.$primary-200;
		font-weight: 400;
		vertical-align: center;
	}
	.experience-stats-container {
		display: flex;
		justify-content: space-between;
		row-gap: 3.2rem;

		.stat {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: space-between;
			align-items: center;

			.content {
				display: flex;
				text-align: center;
				justify-content: center;
				color: theme.$primary-200;
				font-weight: 400;
				font-size: 4rem;
			}
			.description {
				display: flex;
				flex-direction: column;
				color: darkgray;
				font-size: 2.4rem;
				font-weight: 400;
				width: 80%;
			}
		}
	}

	.experiences {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
		row-gap: 4rem;
		column-gap: 4rem;
		text-align: center;
		justify-self: center;
		align-self: center;
		justify-content: center;
		width: 100%;
	}
	.container-subheader {
		color: theme.$primary-200;
		font-size: 4.8rem;
		font-weight: 400;
		text-decoration: underline;
		text-decoration-color: theme.$primary-200;
		text-decoration-line: solid;
		text-decoration-thickness: 0.2rem;
		text-underline-offset: 0.6rem;
	}
}

@media (min-width: theme.$breakpoint-desktop) {
	.experience-container {
		padding: 12rem 24rem;
	}
	.subsection {
		display: flex;
		flex-direction: column;
		row-gap: 2.8rem;
		width: fit-content;
	}
}
