@use "../theme.scss";

.Navbar-container {
	width: fit-content;
	height: fit;
}
.icon-container{
	display: flex;
	justify-content: center;
	column-gap: 12px;
	height: fit;

	a{
		color: theme.$accent;

	}
}