@use "../theme.scss";

.navmenu-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: start;
	min-width: 28rem;
	max-width: 20%;
	height: theme.$page-height;
	row-gap: 2.4rem;
	padding: 2.4rem;
	color: black;
	text-decoration: none;
	z-index: 20;
	background-color: theme.$primary;
	border-right: 1px solid theme.$primary-200;

	.input-container {
		display: flex;
		flex-direction: column;
		row-gap: 0.8rem;
		width: 100%;

		p {
			font-size: 1.6rem;
			padding: 0;
			margin: 0;
			color: theme.$primary;
		}
	}

	.input-content {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-radius: 0.8rem;
		box-shadow: inset 0 0 1rem 0 lightgray;
		background-color: white;
		padding: 0.8rem 1.2rem;
	}

	.input-field {
		outline: none;
		border: none;
		border-radius: 0.8rem;
		width: 100%;
	}

	.section-break {
		border-bottom: 1px solid theme.$primary-200;
		width: 100%;
	}

	.filter-toggle {
		width: 100%;
		font-size: 1.4rem;
		text-decoration: underline;
		text-align: center;
		border: none;
		outline: none;
		background-color: theme.$primary;

		&:hover {
			color: theme.$primary-200;
			transition-duration: 80ms;
		}
	}
}
