@use '../theme.scss';


.pill {
	display: flex;
    background-color: theme.$primary-400;
	height: fit-content;
	padding: .4rem 2rem;
	font-size: 1.2rem;
	border-radius: 10rem;
    border: none;
	text-align: center;
	justify-content: center;
	width: fit-content;
	color: theme.$accent

}
.pill:hover {
	background-color: theme.$primary-300;
    outline: none;
    transition: .25s;
	color: theme.$accent;

}