@use '../theme.scss';


.pill {
	color: theme.$accent;
	display: flex;
	background-color: theme.$primary-300;
	height: fit-content;
	padding: .4rem 2rem;
	font-size: 1.2rem;
	border-radius: 10rem;
    border: 1px solid theme.$accent;;
	text-align: center;
	justify-content: center;
	width: fit-content
}
.pill:hover {
    background-color: theme.$accent;
    outline: none;
	color: theme.$primary-400;
    transition: .25s;
}