@use "../theme.scss";

.project-container {
	display: flex;
	flex-direction: column;
	height: theme.$page-height;
    scroll-snap-align: start;

	.content-column {
		display: flex;
		flex-direction: column;
        justify-content: space-between;
		width: 45%;
        height: 100%;
		row-gap: 2rem;
		padding: 4rem 4rem;
	}

	h1 {
		color: gray;
		font-weight: 300;
		font-size: 3.6rem;
	}

	h2 {
		color: gray;
		font-weight: 300;
		font-size: 2.4rem;
		margin-bottom: 0.8rem;
	}

    .project-link{
        font-size: 1.2rem;
        color: gray;
        border-radius: 2rem;
        padding: .8rem 1.2rem;
        width: fit-content;
        background-color: white;
        box-shadow: 0 0 10px 0 lightgray;
        border: 1px solid gray;



        &:hover{
            box-sizing: border-box;
            // background-color: gray;
            transition-duration: 150ms;
            border: 1px solid theme.$primary-200;
                    box-shadow: none;
                    color: theme.$primary-200;
                    font-weight: 400;

        }
    }

	.project-description {
		font-size: 1.6rem;
		font-weight: 300;
	}
	.row {
		display: flex;
		justify-content: space-between;

        &.start{
            justify-content: start;
            column-gap: .8rem;
            align-items: baseline;
        }
	}
	.highlights {
		display: flex;
		flex-direction: column;
		row-gap: 1.6rem;
		font-weight: 300;
		font-size: 1.6rem;
	}

	.stack-column {
		display: flex;
		flex-direction: column;
		justify-content: start;

		h3 {
			color: gray;
			font-weight: 300;
			font-size: 1.6rem;
			margin-bottom: 0.8rem;
            text-decoration: underline;
		}
		p {
			font-weight: 300;
			font-size: 1.2rem;
			margin-bottom: 0.4rem;
		}
	}
	ul {
		padding: 0;
		margin: 0;
	}
}
