@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) and (max-width: theme.$breakpoint-laptop) {
	.image {
		height: 4rem;
		width: 4rem;
	}
	.bubble-content {
		font-size: 1.2rem;
		margin-bottom: 1.2rem;
	}
}

@media (min-width: theme.$breakpoint-laptop) {
	.StackBubble-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.image {
			height: 6rem;
			width: 6rem;
		}

		.bubble-content {
			font-size: 1.6rem;
			margin-bottom: 1.6rem;
		}
	}
}
