@use "../theme.scss";

	.stack-image {
		height: 4rem;
		width: 4rem;
		background-color: theme.$accent;
		padding: .8rem;
		border-radius: .4rem;
	}
	.bubble-content {
		font-size: 1.2rem;
		margin-bottom: 1.2rem;
	}