@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) {
	.timeline-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		background-color: theme.$primary-200;
		padding: 12rem 12rem;
		height: fit-content;
		width: 100vw;
		overflow-x: hidden;
	}

	.timelines-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: 32rem;
		height: 36rem;
		border-radius: 2rem;
		box-shadow: 0 0 4rem 0.1rem lightgray;
		margin-top: 12rem;
	}

	.timeline {
		position: absolute;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: theme.$primary;
		border-radius: 0.8rem;
		height: 36rem;
		width: 32rem;
		padding: 2rem;

		&.hidden {
			visibility: hidden;
		}
	}
	.timeline-header-background {
		box-sizing: border-box;
		position: absolute;
		height: fit-content;
		width: 100%;
		left: 0;
		top: 0;
		background-color: theme.$primary-200;
		border-radius: 0.8rem 0.8rem 2rem 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.timeline-year {
		font-size: 2rem;
		color: white;
		font-weight: 600;
		margin: 0.8rem;
		z-index: 20;
	}
	.timeline-description {
		font-size: 1.6rem;
		font-weight: 500;
		color: black;
		text-align: center;
	}
	.timeline-navigator {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.arrow-background {
		height: 6rem;
		width: 6rem;
		background-color: theme.$primary-200;
		display: flex;
		justify-content: center;
		align-items: center;

		* {
			color: theme.$primary;
		}

		&.left {
			border-radius: 0 2rem 0 0.8rem;

			&:hover {
				background-color: theme.$primary;
				border-right: 1px solid theme.$primary-200;
				border-top: 1px solid theme.$primary-200;
				transition-duration: 80ms;

				* {
					color: theme.$primary-200;
				}
			}
		}

		&.right {
			border-radius: 2rem 0 0.8rem 0;

			&:hover {
				background-color: theme.$primary;
				border-left: 1px solid theme.$primary-200;
				border-top: 1px solid theme.$primary-200;
				transition-duration: 80ms;

				* {
					color: theme.$primary-200;
				}
			}
		}
	}
}
@media (min-width: theme.$breakpoint-laptop) {
	.timeline-year {
		font-size: 2.8rem;
	}

	.timeline-header-background {
		height: 6.8rem;
	}
}
