@use "../theme.scss";

.homepage-container {
	display: grid;
}

@media (min-width: theme.$breakpoint-tablet-portrait) {
	.homepage-container {
		box-sizing: border-box;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0rem 4rem;
	}
	.left {
        box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 8rem;
        padding-bottom: 2rem;
		height: 100%;
	}
	.right {
		box-sizing: border-box;
		height: 100vh;
		overflow-y: scroll;
	}
}
