@use "../theme.scss";

.homepage-container {
	display: grid;
	padding: 0 0.8rem;
}
.nav {
	visibility: hidden;
	display: none;
}
.intro-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 2.8rem;
	padding-top: 8rem;
}

@media (min-width: theme.$breakpoint-tablet-portrait) {
	.homepage-container {
		box-sizing: border-box;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0rem;
	}
	.left {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 8rem;
		padding-left: 4rem;
		padding-bottom: 2rem;
		height: 100%;

		.nav {
			visibility: visible;
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
		}
		.nav-link {
			display: flex;
			align-items: center;
			column-gap: 1.2rem;
			color: theme.$accent;
			text-decoration: none;
			font-size: 1.4rem;

			&.active {
				font-weight: 700;

				.nav-indicator {
					width: 56px;
					height: 2px;
					transition-duration: 150ms;
				}
			}
		}
		.nav-indicator {
			width: 32px;
			height: 1px;
			// border: .5px solid theme.$accent;
			background-color: theme.$accent;
			transition-duration: 150ms;
		}
	}
	.right {
		box-sizing: border-box;
		height: 100vh;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scroll-padding-top: 8rem;
		padding-right: 4rem;
        padding-bottom: 4rem;
	}
}

@media (min-width: theme.$breakpoint-laptop) {
	.left {
		padding-left: 20rem;
	}
	.right {
		padding-right: 20rem;
	}
}
@media (min-width: theme.$breakpoint-desktop) {
	.left {
		padding-left: 32rem;
	}
	.right {
		padding-right: 32rem;
	}
}
