@use "../theme.scss";

.portfolio-page-container {
	display: flex;
	flex-direction: row;
	height: theme.$page-height;
    overflow-y: hidden;

	.projects-container {
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}
}
