//color theme
$accent: #FFFADF;
$primary: #808C76;
$primary-200: #717265;
$primary-300: #4c5b51;
$primary-400: #33382F;

//helper variables
$navbar-height: 7.2rem;
$navbar-padding-y: 1.6rem;
$navbar-padding-x: 12rem;

// height: 7.2rem;
// 		padding: 1.6rem 12rem;

$page-height: calc(100vh - $navbar-height);

//Media Break Point Variables
$breakpoint-desktop: 1920px;
$breakpoint-laptop: 1512px;
$breakpoint-tablet-portrait: 1024px;
$breakpoint-tablet-landscape: 1366px;
$breakpoint-mobile: 0px;

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-laptop) {
	html {
		font-size: 72.5%;
	}
}

@media (min-width: $breakpoint-laptop) {
	html {
		font-size: 62.5%;
	}
	a {
		text-decoration: none;
	}
}

// @media (max-width: $breakpoint-desktop){
//     html{
//         font-size: 57.5%;
//     }
// }

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}
