#ExperienceCard-container{
    color:white;
    border-radius: 20px;
    /* background-color: var(--primary-color-light); */
    padding: .5rem;
    margin: .5rem;
    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color-light));
    box-shadow: 0 5px 5px lightgray;
}
.contentContainer{
display: flex;
flex-wrap: wrap;
}
.contentDiv{
    color: black;
    padding: 10px 15px;
    margin: .5rem .5rem;
    text-align: center;
    border-radius: 18px;
    background: var(--secondary-color-light)

}
.contentDiv p{
    margin: 0;
    padding: 0;
    color: var(--primary-color);

}
.titleDiv{
    color: var(--secondary-color-light);
    font-weight: 500;
    font-size: 20px;

}