.Experience-text{
    color: var(--primary-color);
    font-size: 35px;
    display: inline;
}
#Experience-container{
    background-color: var(--secondary-color-light);
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resumeDiv{
    border: 1px solid var(--secondary-color-dark);
    border-radius: 5px;
    position: relative;
}
.resumeDiv:hover a{
    color: var(--secondary-color-light);

}
.resumeDiv:hover{
    background: var(--secondary-color-dark);
}
.certificateDiv{
    border: 1px solid var(--secondary-color-dark);
    border-radius: 5px;
    position: relative;
}
.certificateDiv:hover a{
    color: var(--secondary-color-light);

}
.certificateDiv:hover{
    background: var(--secondary-color-dark);
}
.ExperienceCardsSection{
    display: flex;
}
.ExperienceInnerDiv{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 0 2rem 0;
}
a{
    text-decoration: none;
    color: var(--secondary-color-dark);
    font-size: 20px;
    padding: 5px;
}
.CardDiv{
    display: grid;
    grid-template-columns: [start] 20rem [line1] 20rem [line2] 20rem [end];
    column-gap: 3rem;
    row-gap: 3rem;
}